# Lesson 1

## Library loading

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Feature selection based on variance.

Here we will use variance threshold to remove some features that very low variance, ie those columns have almost the same values in all the rows. Hence such features do not explain anything about the target variable

In [2]:
numerical = pd.read_csv('numerical.csv')
categorical = pd.read_csv('categorical.csv')
targets = pd.read_csv('target.csv')

In [3]:
from sklearn.feature_selection import VarianceThreshold

Remember the definition of the variance:

$\sigma_{col}^{2}=\frac{1}{n}\sum_{i=1}^{n}(x_{i}-\bar{X})^2$

In [4]:
sel = VarianceThreshold(threshold=(.9))
temp = sel.fit_transform(numerical)
temp = pd.DataFrame(temp)
print(numerical.shape)
print(temp.shape)

(95412, 315)
(95412, 305)

As it can be clearly seen, the VarianceThreshold method reduces the size of the dataframe droping those columns for which the variance is smaller than 0.9.

To check which columns were removed we can do:

In [5]:
list(sel.get_support())

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True]

In [6]:
list(sel.variances_)

[909809.7483785483,
 208.8158971989076,
 2.8881932699556185,
 7.320489004283561,
 86.61745725511418,
 25.65924724942382,
 131.57223253672964,
 227.9397116710221,
 313.6076948242227,
 19.286818754804564,
 26.281939824591404,
 17.265241830723728,
 8.311701637927996,
 32984198.86101045,
 2126043.3424667185,
 4507490.409069261,
 2249.6547195922,
 974.8079246455828,
 1603.0129942634196,
 30.97534865272938,
 33.27364006327841,
 441.57831545183956,
 278.5789169921517,
 12.03604563865652,
 49.980973211488966,
 190.05348704784367,
 0.4614096996326538,
 4.9825142559714894,
 6.419788645235147,
 5.332371515424055,
 1.007061136251383,
 1.1111593939063544,
 1.368116911416873,
 128.44765349637763,
 1.6713672732722233,
 10.295326351943883,
 11.32502530691183,
 69.48179133914489,
 68.05635235184752,
 65.75686276277202,
 52.72468559024539,
 48.441176213956375,
 47.3710295874623,
 56.47911443932282,
 67.7692564686937,
 40.71093052337281,
 33.95626692614386,
 36.82299864542428,
 60.64881975087444,
 38.57667928001251,
 18.63061725350697,
 17.1850635891202,
 36.04578371218831,
 45.207910663015134,
 26.223178961067926,
 13.664782248178907,
 28.987917472156912,
 20.812865151024443,
 31.837675210326296,
 171.3546208856843,
 55.375485890308,
 168.06103038030898,
 138.5225350038468,
 67.77333547061542,
 211.36576163197856,
 122.30501453955189,
 40.73928721179965,
 14.386828952762766,
 168.16197211842376,
 20.46124242062933,
 23.889551981141796,
 78.8954973475163,
 2504.0962946675877,
 2490.1654886775195,
 623.7260747727373,
 694.4810736144159,
 28.785993891570158,
 569.028421446295,
 512.8148675836751,
 418.51533670113264,
 34.89084441163033,
 18.103465158647225,
 15.756880007223778,
 886913.7002826805,
 897528.2065127891,
 5.326520548977504,
 5.037230512556339,
 471.62655139363613,
 436.81059431133394,
 167.83569795208834,
 99.21540775191214,
 440.225142574808,
 169.91100293682254,
 229.11884825406028,
 263.71454654597153,
 142.59702334882246,
 198.99294331733503,
 144.74843385261624,
 28.06228986109071,
 1.2631290123371937,
 21.93134316258384,
 50.460140546363846,
 87.53283285473147,
 16.995685806029094,
 47.08936663900806,
 210.9415318311225,
 151.27076045689432,
 20.681632775980315,
 101.4660940362522,
 8.52403864218004,
 708.7797221228885,
 1017.4476659225461,
 1342.821086575551,
 1350.1852875517998,
 875.9231555394194,
 326.33702634685505,
 56.93350017256931,
 459.6220961716994,
 115.23709133215378,
 108.46655352107582,
 6.552661653052567,
 1.3993570939847437,
 163.59093621816777,
 292.7295307671004,
 207.4552274225199,
 60.768026519244316,
 55.64736279901849,
 317.1223563412028,
 9.130813283918535,
 1036.5164897386398,
 1220.150814070886,
 1081.995590649465,
 589.3108038498114,
 8190517.194490056,
 18748.086292024786,
 13521.612631744261,
 26530.685853328094,
 30141.722832097726,
 26007.978348232973,
 29461.120175162912,
 73335277.47748743,
 210.55524036020867,
 63.35154956527435,
 39.418355080557255,
 55.32409547215269,
 93.81767729161203,
 34.05061494707582,
 11.197534773472574,
 3.698429117510159,
 21.53623962489796,
 152.30201860715627,
 84.1036066684085,
 58.37887994123033,
 71.78630968921621,
 113.29808213153355,
 44.43744118987691,
 15.26600706403592,
 5.390355065709254,
 30.594924014445134,
 192.2329868230885,
 38.63320674888102,
 290.84771493049504,
 99.34819365978144,
 255.24700647800927,
 257.42671074386504,
 105.1667856179467,
 176.61318355568218,
 44.8595606561301,
 31.25858601894864,
 20.953439686171787,
 4.830735397312915,
 0.5398626734045712,
 0.4837316546842466,
 30.170403191715582,
 13.599874779404285,
 38.88323522413021,
 363.187551647234,
 45.870291693236595,
 43.95763231304108,
 28.548757640617783,
 302.8059744556547,
 185.00100329734954,
 214.42708762209213,
 188.8379428443627,
 224.49146757249343,
 188.84907926427502,
 268.6306314213229,
 298.67867442702936,
 946.669299057757,
 1999.9334802360615,
 85.55272358605774,
 67.75645709930335,
 50.959593643031596,
 6.580033887755593,
 30.692894239039152,
 32.914482720079484,
 0.990029356941326,
 3.5542594142759514,
 36.33092922141802,
 26.0791032512125,
 34.3296085550401,
 34.51145093112297,
 10.3886481968368,
 8.880570105775938,
 31.03294190174419,
 6.056718190413508,
 16.99371335465023,
 103.36888419944465,
 10.25140108072859,
 5.454036872530022,
 9.59386016719246,
 38.17666131062678,
 21.72065761447455,
 9.449982287396038,
 10.415128703653336,
 4.977261692894342,
 20.21738976054702,
 28.76489834159731,
 18.960765512081245,
 16.673892122164276,
 18.21131337603834,
 25.652825395550398,
 17.321587534651854,
 29.93971644811225,
 151.31215655722963,
 18.966559872953585,
 1.0723861883715364,
 314.5473688028305,
 68.53547552412346,
 57.79659911604166,
 105.24476170535995,
 50.74131889874473,
 11.544890216180885,
 94.66828947960192,
 49.80246624833786,
 14.663679673299903,
 59.9994775504744,
 1.8561772474371123,
 40.608694286213,
 32.128300061607945,
 10.045245931002306,
 24.042526021440953,
 1.1365611805370122,
 27.77762328370799,
 109.74000749171378,
 2.6908579249470943,
 210.07675715730295,
 94.65442932201901,
 290.76821339697176,
 114.78850484089628,
 5.26467240483071,
 18.223932597457747,
 1.8511874568327378,
 68.442096450486,
 0.5005608786936364,
 0.28418201195707066,
 11.034099967015756,
 6.267927045745221,
 4.579123050629762,
 8.306603632852438,
 0.7505434492570536,
 2.0344818076473583,
 0.9552619840332038,
 1.5966828928319283,
 0.15063197079808036,
 93.04804492618726,
 474.3733977702508,
 276.55676928225375,
 145.0499108923295,
 23.9183281497775,
 20.283470438193042,
 156.8085462871755,
 353.5235301199022,
 117.75981020530801,
 15.960186391841303,
 157.05676475550828,
 35.89371979818556,
 289.15835086824643,
 572.2637747508392,
 1026.4106241138381,
 1007.8625974869775,
 976.0206012806436,
 59.14588064671587,
 11.630432161476213,
 1270.5931538969126,
 145.64290306955968,
 782.4873883373635,
 93.39427220020255,
 0.24366421185133524,
 108.2238306246863,
 810.2647903745049,
 713.1018895707764,
 1265.9984049531322,
 92.65991038484718,
 115.33931316697122,
 12.467689570407758,
 0.7514536651898059,
 8.238785688626747,
 10.576465802149214,
 73.68074952531973,
 527.6327424417098,
 1.4878606743478935,
 20.648023095627913,
 14061.15603991666,
 73.17599176576506,
 20.490350777400852,
 77.1618982736264,
 628.3852852951669,
 194.78548154917564,
 60.48248636368808,
 115.99162917612279,
 3056354531.6834598,
 0.24999961761748588,
 1.1507784862441486,
 351.62019850922127]

In [7]:
my_list_of_tuples = [(index,value) for (index,value) in enumerate(list(sel.variances_)) if value < 0.9]

In [8]:
cols_nul_variance =  [list(numerical.columns)[index] for index in [x[0] for x in my_list_of_tuples]]
cols_nul_variance

['ETH6',
 'TPE6',
 'TPE7',
 'ANC5',
 'ANC6',
 'ANC11',
 'ANC15',
 'HC15',
 'MHUC2',
 'HPHONE_D']

## Activity 1

Fill the missing code:

In [9]:
X = numerical
y = targets['TARGET_B']

In [10]:
targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TARGET_B  95412 non-null  int64
 1   TARGET_D  95412 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 1.5 MB

In [11]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
kbest = SelectKBest(chi2, k=10).fit_transform(X, y)
# Here we chose 10 so that is easier to analyze results later, as we will see
selected = pd.DataFrame(kbest)
selected.head()

,0,1,2,3,4,5,6,7,8,9
0,0.0,992.0,264.0,479.0,635.0,0.0,318.0,12883.0,240.0,95515.0
1,1.0,3611.0,940.0,5468.0,5218.0,4480.0,1096.0,36175.0,47.0,148535.0
2,1.0,7001.0,2040.0,497.0,546.0,0.0,292.0,11576.0,202.0,15078.0
3,0.0,640.0,160.0,1000.0,1263.0,9340.0,388.0,15130.0,109.0,172556.0
4,0.0,2520.0,627.0,576.0,594.0,5000.0,250.0,9836.0,254.0,7112.0

In [12]:
# To check the scores
model = SelectKBest(chi2, k=10).fit(X, y)
df =pd.DataFrame(data = model.scores_, columns = ['score'])
df['Column'] = numerical.columns
# Sorting data
print(df.sort_values(by = ['score'], ascending = False).head(10))
print()

# Just to check the columns, we can use the following code
cols = df.sort_values(by = ['score'], ascending = False).head(10)['Column']
print(cols)

             score    Column
311  527716.426176  CONTROLN
140  187983.976667       IC5
83    49855.611718       HV1
84    49561.067003       HV2
0     39087.069814     TCODE
133   26891.429352       MSA
13    17167.230879    POP901
137    2921.367106       IC2
14     2811.233301    POP902
303    2756.199364  RAMNTALL

311    CONTROLN
140         IC5
83          HV1
84          HV2
0         TCODE
133         MSA
13       POP901
137         IC2
14       POP902
303    RAMNTALL
Name: Column, dtype: object

# Lesson 2

## Recursive feature elimination

In [13]:
from sklearn.feature_selection import RFE
from sklearn import linear_model

# We can use any model, LM, K-NN,...
# For classification problems, the metric used to compare models is Accuracy
# For regression problems, the metric used to compare models is RMSE
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=20, verbose=False)
rfe.fit(X, y)

RFE(estimator=LinearRegression(), n_features_to_select=20, verbose=False)

In [14]:
# After we run the algorithm, it labels the top features as 1 and the rest are marked in an increasing order of importance. 
df = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df['Column_name'] = X.columns
df[df['Rank']==1]

     Rank Column_name
2       1      INCOME
16      1     POP90C1
17      1     POP90C2
18      1     POP90C3
30      1       ETH10
76      1         DW3
77      1         DW4
78      1         DW5
121     1        RHP4
122     1       HUPA1
123     1       HUPA2
163     1         MC1
164     1         MC2
168     1        TPE3
169     1        TPE4
170     1        TPE5
171     1        TPE6
288     1        HC15
305     1    CARDGIFT
313     1      RFA_2F

## Activity 2

While both methods are used for reducing the number of features in a dataset, there is an important difference.
Feature selection is simply selecting and excluding given features without changing them.
Dimensionality reduction transforms features into a lower dimension.

# Lesson 3

# Lesson 4

## Hypothesis testing

We want to test if our the **sample mean** is not equal to the **population mean** = 80.94. We also know that our **sample** has a size of 25 individuals.

$t = \frac{(\bar{X}-\mu)}{\hat{\sigma}/\sqrt{n}}$

where:

* $\bar{X}$ is the **sample mean**
* $\mu$ is the **population mean**
* $\hat{\sigma}$ is the **sample standard deviation**
* $n$ is the number of measures in our sample

In [15]:
import math

sample_mean = 80.94
pop_mean = 85
sample_std = 11.6
n = 25
statistic = (sample_mean - pop_mean)/(sample_std/math.sqrt(n))
print("Statistic is: ", statistic)

Statistic is:  -1.750000000000001

In [16]:
from scipy import stats
from numpy.random import normal


samples = {}

for i in range(10):
    sample_name = "sample_" + str(i)
    samples[sample_name] = normal(loc = 80.94, scale = 11.6, size = 25)
    sample_mean = "sample_" + str(i) + "_mean"
    samples[sample_mean] = np.mean(samples[sample_name])
    sample_std = "sample_" + str(i) + "_std"
    samples[sample_std] = np.std(samples[sample_name],ddof=1)
    sample_statistic = "sample_" + str(i) + "_t-statistic"
    samples[sample_statistic] = (samples[sample_mean]- pop_mean)/(samples[sample_std]/math.sqrt(n)) 
    print("The t-statistic for the sample {} is: {}".format(i,samples[sample_statistic]))

The t-statistic for the sample 0 is: -3.4284294948596377
The t-statistic for the sample 1 is: -1.509158531895055
The t-statistic for the sample 2 is: -2.8013761371641563
The t-statistic for the sample 3 is: -1.172859692101228
The t-statistic for the sample 4 is: -2.8859289922906903
The t-statistic for the sample 5 is: -3.4991171944791604
The t-statistic for the sample 6 is: -0.07494189415869
The t-statistic for the sample 7 is: -1.5597905329045525
The t-statistic for the sample 8 is: -3.1097582238639383
The t-statistic for the sample 9 is: -3.398390852679428

Now that we have the t-statistic for each random sample, let's make the two tails test. Why two tails? Because we are looking what is the probability that we get a **sample mean** which deviates from the **population mean** more than out t-statistic. We don't care if the our **sample mean** is bigger or smaller than the **population mean**.

Therefore, we can ask ourselves what is the probability of having a deviation within -t and t.

In [17]:
print("Assuming a significance level of 0.05")
print()

for i in range(10):
    sample_name = "sample_" + str(i)
    print("The p-value of sample {} is: {:-5.3}".format(i,stats.ttest_1samp(samples[sample_name],85)[1]))
    if ( stats.ttest_1samp(samples[sample_name],85)[1] < 0.05 ):
        print("Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample {} given Ho.".format(i))
    print()

Assuming a significance level of 0.05

The p-value of sample 0 is: 0.0022
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 0 given Ho.

The p-value of sample 1 is: 0.144

The p-value of sample 2 is: 0.0099
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 2 given Ho.

The p-value of sample 3 is: 0.252

The p-value of sample 4 is: 0.00812
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 4 given Ho.

The p-value of sample 5 is: 0.00185
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 5 given Ho.

The p-value of sample 6 is: 0.941

The p-value of sample 7 is: 0.132

The p-value of sample 8 is: 0.00477
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 8 given Ho.

The p-value of sample 9 is: 0.00237
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 9 given Ho.

### Lab | Inferential statistics

In [18]:
import math

sample_mean = 130.1
pop_mean = 120
sample_std = 21.21
n = 100
statistic = (sample_mean - pop_mean)/(sample_std/math.sqrt(n))
print("Statistic is: ", statistic)

Statistic is:  4.761904761904759

In [19]:
from scipy import stats
from numpy.random import normal


samples = {}

for i in range(10):
    sample_name = "sample_" + str(i)
    samples[sample_name] = normal(loc = 80.94, scale = 11.6, size = 25)
    sample_mean = "sample_" + str(i) + "_mean"
    samples[sample_mean] = np.mean(samples[sample_name])
    sample_std = "sample_" + str(i) + "_std"
    samples[sample_std] = np.std(samples[sample_name],ddof=1)
    sample_statistic = "sample_" + str(i) + "_t-statistic"
    samples[sample_statistic] = (samples[sample_mean]- pop_mean)/(samples[sample_std]/math.sqrt(n)) 
    print("The t-statistic for the sample {} is: {}".format(i,samples[sample_statistic]))

The t-statistic for the sample 0 is: -31.88633545826595
The t-statistic for the sample 1 is: -29.558989440375488
The t-statistic for the sample 2 is: -43.63272360454621
The t-statistic for the sample 3 is: -30.752294028708775
The t-statistic for the sample 4 is: -40.54306209979111
The t-statistic for the sample 5 is: -37.08645557710017
The t-statistic for the sample 6 is: -39.01222132174635
The t-statistic for the sample 7 is: -36.60695059651024
The t-statistic for the sample 8 is: -39.113317241056954
The t-statistic for the sample 9 is: -40.19640223285329

In [20]:
print("Assuming a significance level of 0.05")
print()

for i in range(10):
    sample_name = "sample_" + str(i)
    print("The p-value of sample {} is: {:-5.3}".format(i,stats.ttest_1samp(samples[sample_name],85)[1]))
    if ( stats.ttest_1samp(samples[sample_name],85)[1] < 0.05 ):
        print("Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample {} given Ho.".format(i))
    print()

Assuming a significance level of 0.05

The p-value of sample 0 is: 0.539

The p-value of sample 1 is: 0.0609

The p-value of sample 2 is: 0.00802
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 2 given Ho.

The p-value of sample 3 is: 0.0124
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 3 given Ho.

The p-value of sample 4 is: 0.0197
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 4 given Ho.

The p-value of sample 5 is: 0.0255
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 5 given Ho.

The p-value of sample 6 is: 0.00116
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 6 given Ho.

The p-value of sample 7 is: 0.341

The p-value of sample 8 is: 0.0227
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 8 given Ho.

The p-value of sample 9 is: 0.0249
Therefore we discard the null hypothesis Ho, as it's very unlikely to get sample 9 given Ho.